# Data files #
##############
**data/
**/resources/
**/sgelogs/

# R project files #
###################
**.Rproj**
**.Rhistory
**.Rprofile**


# PLINK version file #
######################
.pversion
packrat/lib*/
